/* your styles go here */
.card, .btn, .modal-content {
    border-radius: 15px;
}

.table.dataTable td, table.dataTable td {
    font-weight: 400;
}

.table.dataTable td, table.dataTable td {
    font-weight: 300;
}
